# SQL Practice Notebook
This notebook is designed to help you practice SQL by following the tasks provided below. Each task includes a description and a code cell where you can write and execute your SQL queries.

## Task 1: Create the Database
Create a new database to store the tables required for the exercise. Write your SQL query in the cell below.

In [ ]:
/* Write your SQL query here to create the database */

## Task 2: Create the Tables
Using the provided design, create the following tables:
1. `User`
2. `Profile`
3. `Post`
4. `Tag`
5. `PostTag`

Write your SQL queries in the cell below.

In [ ]:
/* Write your SQL queries here to create the tables */

## Task 3: Insert Data into Tables
Insert the following data into the tables you just created:

- Add at least **3 users**.
- Create a **profile** for each user.
- Insert at least **2 posts** and associate them with users.
- Add at least **3 tags** and link them to posts using the `PostTag` table.

Write your SQL queries in the cell below.

In [ ]:
/* Write your SQL queries here to insert data into the tables */

## Task 4: Query the Data

Use `SELECT` queries to:

1. Retrieve all users and their profiles.
2. Fetch posts along with their associated tags.

Write your SQL queries in the cell below.

In [ ]:
/* Write your SQL queries here to insert data into the tables */